.nav-links {
  margin: 0 0 0 100px;
}

.nav-links a {
  margin: 0 10px;
}

.download-btn {
  padding: 15px 20px;
  background-color: var(--download-btn-color);
  color: #ffff;
  border-radius: 5px;
}

.download-btn:hover {
  color: #ffff;
  background-color: var(--text-color-hover);
}

.intro-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  height: 100svh;
  padding: 0 20px;
}

.intro-div h4 {
  text-align: center;
  width: 70%;
  margin: 20px 0;
}

.product-section {
  display: flex;
  margin: 0 0 100px;
}

.product-section div:first-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 40px 0 0;
}

#big-img {
  width: 40%;
}

.read-more-section {
  display: flex;
}

.read-more-section section {
  margin: 10px 15px 0 0;
  padding: 0 40px 0 0;
}

.read-more-section section * {
  margin: 10px 0;
}

.read-more-section section div {
  display: flex;
  align-items: center;
}

.read-more-section section div * {
  margin: 0 5px 0 0;
}

.services-wrap {
  display: flex;
}